.categoryProducts {
  &__title {
    margin-bottom: 20px;
    font-style: italic;
    color: gray;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 300;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
