$red-main: #dc3d27;
$yellow-main: #ffc10a;

$text-light-1: rgb(70, 69, 69);
$text-light-2: rgb(119, 117, 117);
$text-light-3: rgb(150, 146, 146);
$text-light-4: rgb(172, 172, 172);
$text-light-5: rgb(211, 211, 211);
